{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {# Cette partie gére le corps de la page #}
    {% for episode in episodes %}
        <div class="panel panel-default">
            <h2 class="panel-heading">
              <a href="{{ path('episode', {'id':episode.id }) }}">{{ episode.titre }}</a></h2>
            <p class="contenu panel-body">{{ episode.contenu }}</p>
        </div>
    {% endfor %}
{% endblock %}
