body {
    padding-top: 90px;
}

p{
  text-align:justify;
}

.deco{
  width: 100%;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.contenu{
  text-align: justify;
}

.form-group{
  width: 80%;
  margin: 0px 50px 15px 50px;
}
