body {
    padding-top: 70px;

}


.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.deco{
  width: 100%;
}

.contenu{
  text-align: justify;
  font-family: Georgia, Tahoma, Verdana;
  font-size: 1.5em;
}

/* Lien Sur les Titres des Episodes */
.episodeTitle{
    padding-left: 10px;
    font-size: 1.2em;
}

.episodeTitle:hover, .episodeTitle:focus {
    text-decoration: none;
    color: #222222;
}

.dateCrea{
  font-size: 0.8em;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}
